.song-card{
  box-shadow: 0px 0px 15px black;
  width: 90%;
  /* height: 200px; */
  max-width: 800px;
  border-radius: 25px;
  backdrop-filter: blur(50px);
}
body{
  background: #777;
  background-attachment: fixed;
  background-image: url(./resources/bg.jpg);
  background-position: center;
  background-size: cover;
}
.btn-active:active{
  transform:scale(0.95);
}
.shadow{
  box-shadow: 0px 0px 10px black;
}